<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks belonging to this machine</h2>
<ul>
<% @snacks.each do |snack| %>
  <li><%= snack.name %>: $<%= snack.price %></li>
<% end %>
</ul>
Average Price: $<%= @machine.avg_price %>
